{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="pizza">
  <head>
    <meta charset="utf-8">
    <base href="/"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pizza time!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="Pizza, time, awesome, cloud academy">
    <meta name="description" content="">
    <link href="static/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="static/css/main.css" rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="static/img/favicon.png">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-route.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/directives/nav.js"></script>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="static/img/brand.png" alt=""/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" bs-active-link>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/auth">Login</a></li>
            <li class="dropdown">
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="content">
      <ng-view></ng-view>
    </div>

    <!-- jQuery -->
    <script src="static/js/jquery-1.12.2.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>
