option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_NAME: pizza
    DATABASE_USER: jklimber
    DATABASE_HOST: pizza-time-db.cwh3oqrrk5i6.us-west-2.rds.amazonaws.com
    DATABASE_PORT: 3306
    DATABASE_PASSWORD: start123
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:container:python:
    WSGIPath: pizza_project/wsgi.py
container_commands:
  01collectstatic:
    command: "python manage.py collectstatic"
  02migrate:
    command: "python manage.py migrate"
  03load_initial_data:
    command: "python manage.py loaddata initial_data"
