option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_NAME: placeholder
    DATABASE_USER: placeholder
    DATABASE_HOST: placeholder
    DATABASE_PORT: 3306
    DATABASE_PASSWORD: placeholder
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "delivery/static/"
