option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: pizza_project/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: pizza_project.settings
    - namespace: aws:elasticbeanstalk:container:python:staticfiles
      option_name: /static/
      value: delivery/static/
