<div class="container">
  <div class="row text-center">
      <img src="static/img/header.png" alt="Pizza time!" />
      <p>
        The most different pizza you will ever try!
      </p>
  </div>
  <br>
  <hr>
  <div class="row text-center" ng-show="isAuthenticated">
    <a href="#/new-order"><button type="button" name="button" class="btn btn-default">New Order</button></a>
    <a href="#/orders"><button type="button" name="button" class="btn btn-default">All orders</button></a>
  </div>
</div>
